@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jsl";
  src: url("/fonts/jsl-ancient.normal.ttf");
}

body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #f9d71c 0%, #f9812a 80%);
}

p {
  color: white;
  font-family: "jsl";
}

.custom-left-arrow,
.custom-right-arrow {
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.custom-left-arrow {
  left: 10px;
}

.custom-right-arrow {
  right: 10px;
}
